@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 44 20 79;
  --foreground: 249 237 214;
  --card: 44 20 79;
  --card-foreground: 249 237 214;
  --popover: 44 20 79;
  --popover-foreground: 249 237 214;
  --primary: 44 20 79;
  --primary-foreground: 249 237 214;
  --secondary: 125 63 255;
  --secondary-foreground: 249 237 214;
  --muted: 125 63 255;
  --muted-foreground: 249 237 214;
  --accent: 179 255 172;
  --accent-foreground: 44 20 79;
  --destructive: 221 68 68;
  --destructive-foreground: 249 237 214;
  --border: 125 63 255;
  --input: 125 63 255;
  --ring: 179 255 172;
  --radius: 0.5rem;
}

.dark {
  --background: 44 20 79;
  --foreground: 249 237 214;
  --card: 44 20 79;
  --card-foreground: 249 237 214;
  --popover: 44 20 79;
  --popover-foreground: 249 237 214;
  --primary: 44 20 79;
  --primary-foreground: 249 237 214;
  --secondary: 125 63 255;
  --secondary-foreground: 249 237 214;
  --muted: 125 63 255;
  --muted-foreground: 249 237 214;
  --accent: 179 255 172;
  --accent-foreground: 44 20 79;
  --destructive: 221 68 68;
  --destructive-foreground: 249 237 214;
  --border: 125 63 255;
  --input: 125 63 255;
  --ring: 179 255 172;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-poppins), sans-serif;
  font-size: 12px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas), cursive;
  font-weight: 200;
}

.font-header {
  font-weight: 200;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
